<%- include('./reusable/admin_reusable') %>


    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <head>

        <style>
        .btn {
          background-color: black;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          border-radius: 25px;
          width: 200px;
          }
          
        body {
            background-color: #f9f3f3;
          font-family: Arial, Helvetica, sans-serif;
        }
         /*to adjust the page setup*/ 
        .container {
        padding: 16px;
        height: 450px;
        width: 80%;
        }
          
        input[type=text]
        {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f9f3f3;
          }
          
          
        input[type=text]:focus
        {
          background-color: #ddd;
          outline: none;
        }
        
        
          
                       
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #1d1c1c;
        }
                      
        
        th {
          width: 190px;
          text-align: center;
          padding: 5px;
          }
          td {
          width: 190px;
          text-align: center;
          padding: 5px;
          }
                          
        .btn1 {
            background-color:#f6f0e6;
        color: rgb(16, 16, 16);
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 25px;

        width: 150px;}

        
        .btn{
        background-color:#f6f0e6;
        color: rgb(16, 16, 16);
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 25px;
        width: 100px;
        margin-left: 20%;
        float: right;
        width: 150px;}
    
                            
        .btn_d {
        background-color:black;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 25px;
        width: 80px;
        margin-left: 18%;
        }
        .btn_res {
              background-color:black;
              color: white;
              padding: 12px;
              font-size: 12px;
              border: none;
              border-radius: 15px;
              width: 80px;
            }
        
        .container {
        margin-left: 15%;
        }
       
        .d{
          width: 300%;
          }
          #event{
            display: none;
          }
          #flight_id,#mode,#date,#drone_id,#email_id,#duration,#result,#batteryid,#takeoffvoltage,#landingvoltage,#windspeed,#winddirection,#copilot{
            padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background:none;
        font-size: 15px;
        width:100%;
        text-align: center;

          }
          th{
            font-size: 20px;
            
          }
          table{
            width: 100%;
          }
        </style>
        </head>
        <body>
          <div class=container>
             <center>
              <h1><b>CRASH DETAILS</b></h1><br><br>
              
                <table border="2">
                    <td><tr>
                        <th>Flight ID</th>
                        <th>Date</th>
                        <th>Email ID</th>
                        <th>Copilot</th>
                        <th>Drone name</th>
                        <th>Damaged Parts</th>
                        <th>Reason for Crash</th>

                        
                  </tr></td>
                    
                  <% for(var i=0;i<flight.length;i++){ %>
                  <tr></tr>
                    <form action="/all_crashdetails" method="POST">
                    
                        
                      <td>
                        <input type="text" id="flight_id" name="flight_id" value=<%- flight[i].flight_id %>>
                      </td> 

                      
                      <td>
                        <%- flight[i].date%>
                      </td> 
                    
                      
                      <td>
                        <input type="text" id="emailid" name="emailid" value=<%- flight[i].emailid %>>
                      </td> 
                    
                      
                      <td>
                        <input type="text" id="copilot" name="copilot" value=<%- flight[i].copilot%>>
                      </td> 

                      <td>
                        <input type="text" id="drone_name" name="drone_name" value=<%- flight[i].drone_name%>>
                      </td> 
                      
                      <td>
                        <input type="text" id="damaged_parts" name="damaged_parts" value=<%- flight[i].damaged_parts%>>
                      </td> 
                      
                    
                      <td>
                        <input type="text" id="reason" name="reason" value=<%- flight[i].reason%>>
                      </td> 
                    
                     
                      <td>
                        <button type="submit" class='btn1' name=editcrashdetails value=<%- flight[i].flight_id %>><b>Edit</b></button>
                       
                      </td>
                      <td>
                        <button type="submit" class='btn1' name=deletecrashdetails ONCLICK="alert('Succesfully Deleted the crash details..')" value=<%- flight[i].flight_id %>><b>Delete</b></button>
                       
                      </td>

                      
                    
                    
                    </form></tr><%}%>
                    </table></center>
             </center>

            
              
 </body>
    </html>